html {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    gap: 30px;
    align-items: center;
    background-color: skyblue;
    color: darkblue;
}

.header img {
    height: 100px;
}

.headertext span {
    text-shadow: 2px 2px 1px yellow;
}

.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: darkblue;
    height: 50px;
}

.navigation a {
    text-decoration: none;
    color: white;
    font-size: 19px;
}

select {
    background-color: darkblue;
    color: white;
    height: 50px;
    border: none;
    font-size: 18px;
}

.content {
    display: flex;
    gap: 40px;
}

h3 {
    color: darkblue;
}

hr {
    height: 1px;
    color: black;
    background-color: black;
}

.boldtext {
    font-weight: 600;
}

.sidebar {
    max-width: 150px;
}

.sidebar img {
    width: 100px;
    height: auto;
}

.maincontent {
    flex: 2;
}

.maincontent img {
    height: 200px;
    flex: 1;
}

.article {
    display: flex;
    gap: 10px;
}

.footer {
    height: 50px;
    display: flex;
    background-color: darkblue;
    color: white;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}